{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            {% if flag == 1 %}
            <h5>Enter Product Details</h5>
            {%elif flag == 2 %}
            <h5>Update Product Details</h5>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <br>
                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}