{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                {%for product in productPage.object_list %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price}}</td>
                        <td><a class="btn btn-sm btn-warning" href="{% url 'updateProduct' product.id %}">Update Price</a></td>
                    </tr>
                {% endfor %}
                <div class="page-links"> <!-- to create pagination -->
                    {% if productPage.has_previous %}
                    <a class="btn btn-sm btn btn-outline-primary" href="{% url 'home' %}?page={{productPage.previous_page_number}}">< Previous</a>
                    {% endif %}
                    {% if productPage.has_next %}
                    <a class="btn btn-sm btn btn-outline-primary" href="{% url 'home' %}?page={{productPage.next_page_number}}">Next ></a>
                    {% endif %}
                </div>
            </table>
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'createProduct' %}">Create product</a>
        </div>
    </div>
</div>

{% endblock %}